*{
    margin: 0px;
}

body{ 
    background-color: black;
}

video{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: contain;
    z-index: -2;
    top: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.726);
}

@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    #info{
        justify-content: center;
        text-align: center;
    }

}
@media screen and (min-width: 900px){
    #name{
        font-size: 70px;
    }
}

#name{
    margin-top: 25px;
    font-weight: bolder;
    font-size: 35px;
}

#roles{
    margin-top: 10px;
}

#photo{
    background-color: gray;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

#info{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

#links{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    justify-content: space-between;
    align-self: flex-end;

}

#apps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.app-link{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.479);
    transition: transform  0.2s;
    margin-left: 30px;
    margin-right: 30px;
    
}

.app-link:hover{
    transform: scale(110%);
}

#app-photo{
    width: 130px; 
    height: 130px;
    margin-bottom: 10px;
}

.rounded{
    border-radius: 50%;

    background-color: black;
}
a{
    transition: transform .3s;
}

a:hover{
    transform: scale(1.5);
}

#links, a:link{
    color: rgba(255, 255, 255,.7);
}
a:visited{
    color: rgba(255, 255, 255, 0.7);
}

.flex-vertical{
    flex-direction: column;
}
